*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right,#0F2027,#2C5364);
}
.h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    font-size: 40px;
}
.container{
    box-shadow: 1px 5px 10px ;
    margin: 0 85vh;
    border-radius: 5px;
    height: 150px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left,#485563,#29323C);
}
.container h2{
    padding: 10px;
    background-color:yellow;
    border-radius: 4px;
    background-color: #9A8478;
}
.container button{
    padding: 10px;
    background-color: red;
    border: none;
    box-shadow: 1px 10px 10px ;
    background-color: #9A8478;
    font-weight: bold;
}